<div class="panel panel-success">
	<div class="panel-heading">Education & Reference (Reg No.: {{$ctrl.displayAppl.universityRegisterNmbr}})</div>
	<div class="panel-body">

		<div class="col-sm-12 text-left">
			<strong> {{ $ctrl.displayAppl.degree + ' - ' +
				$ctrl.displayAppl.collegeYear + ' Year' + ' - ' + $ctrl.displayAppl.specialization}}
				{{$ctrl.displayAppl.institutionName }}, {{$ctrl.displayAppl.institutionCity}}  - 
				 {{$ctrl.displayAppl.universityName}}<br />
			</strong>
		</div>
		<br />
		<br />
		<div class="col-sm-12 text-left">
			<div class="row row-eq-height">
				<div class="col-sm-5">Recent Aggregate:</div>
				<div class="col-sm-3">
					<strong> {{ $ctrl.displayAppl.recentAggregatePercent }}% </strong> in {{
					$ctrl.displayAppl.recentAggregatein }}
				</div>
				<div class="col-sm-4">
				<button type="button"
					data-ng-show="$ctrl.displayAppl.marksheet2AttachmentId != -1"
					data-ng-click="$ctrl.downloadFile($ctrl.displayAppl.marksheet2AttachmentId)"
					class="btn btn-sm btn-primary">Marks #2</button>	
					
				<button type="button"
					data-ng-show="$ctrl.displayAppl.marksheet1AttachmentId != -1"
					data-ng-click="$ctrl.downloadFile($ctrl.displayAppl.marksheet1AttachmentId)"
					class="btn btn-sm btn-primary">Marks</button>
					

				</div> 
			</div> 
			<div class="row row-eq-height">
				<div class="col-sm-5">Annual Family Income:</div>
				<div class="col-sm-3">
					<strong>(₹.) {{$ctrl.displayAppl.annualFamilyIncome}}.00 </strong>
				</div>
				<div class="col-sm-4">		
				<button data-ng-show="$ctrl.displayAppl.incomeProofAttachmentId != -1"
					data-ng-click="$ctrl.downloadFile($ctrl.displayAppl.incomeProofAttachmentId)"
					class="btn btn-sm btn-primary">Income Proof</button>
				</div>
			</div>
			<div class="row row-eq-height">
				<div class="col-sm-5">Annual Tuition Fee:</div>
				<div class="col-sm-3">
					<strong>(₹.) {{$ctrl.displayAppl.annualTuitionFee}}.00 </strong>
				</div>
				<div class="col-sm-4">
					
					<button data-ng-show="$ctrl.displayAppl.tuitionReceipt2AttachmentId != -1"
						data-ng-click="$ctrl.downloadFile($ctrl.displayAppl.tuitionReceipt2AttachmentId)"
						class="btn btn-sm btn-primary">Fee Rcpt#2</button>
						
					<button data-ng-show="$ctrl.displayAppl.tuitionReceipt1AttachmentId != -1"
						data-ng-click="$ctrl.downloadFile($ctrl.displayAppl.tuitionReceipt1AttachmentId)"
						class="btn btn-sm btn-primary">Fee Rcpt</button>
					
				</div>
			</div>
		<div class="row row-eq-height">
			<div class="col-sm-5">Supporting docs:</div>
			<div class="col-sm-7">
				<button data-ng-show="$ctrl.displayAppl.nagaratharProofAttachmentId != -1"
					data-ng-click="$ctrl.downloadFile($ctrl.displayAppl.nagaratharProofAttachmentId)"
					class="btn btn-sm btn-primary">NagaratharCertification</button>

				<button
					data-ng-show="$ctrl.displayAppl.scholarshipLetterAttachmentId != -1"
					data-ng-click="$ctrl.downloadFile($ctrl.displayAppl.scholarshipLetterAttachmentId)"
					class="btn btn-sm btn-primary">Scholarship Letter</button>

			</div>
		</div>
	 <br />
			<div class="row row-eq-height">
				<div class="col-sm-12">{{$ctrl.displayAppl.region}} Reference:
					<strong>
						<div ng-if=$ctrl.displayAppl.referenceName>
							{{$ctrl.displayAppl.referenceName + ' / ' +
							$ctrl.displayAppl.referencePhone}}</div>
					</strong>
				</div>
			</div>
		<br /> 
			<div class="row">
				<div class="col-sm-12">
					Account Holder Name (if approved): <strong>
						{{$ctrl.displayAppl.checkToName}} </strong>
				</div>
			</div>
			
			<br />

						
		</div>

	</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading">Applicant Info</div>
	<div class="panel-body">

		<div class="col-sm-12 text-left">
			<strong>{{ $ctrl.displayAppl.firstName + ' ' +
				$ctrl.displayAppl.lastName +' - ' + $ctrl.displayAppl.gender + ' - '}} </strong>
				<strong> {{$ctrl.displayAppl.birthdate }}</strong>
			<button data-ng-show="$ctrl.displayAppl.photoAttachmentId != -1"
					 data-ng-click="$ctrl.downloadFile($ctrl.displayAppl.photoAttachmentId)" 
					 class="btn btn-sm btn-primary pull-right">Photo</button>
		</div>
		<div class="col-sm-12 text-left">
			
				Native: <strong>{{$ctrl.displayAppl.nativeVillage}} </strong> <br />
				Kovil: <strong> {{$ctrl.displayAppl.kovilPirivu}} </strong>
			
		</div>

		<div class="col-sm-12 text-left">
			<div class="row">
				<div class="col-sm-6">
					Father: <strong>{{ $ctrl.displayAppl.fathersName}} </strong><br />
					<strong>{{ $ctrl.displayAppl.fatherOccupation}} </strong>
				</div>
				<div class="col-sm-6">
					Mother: <strong>{{ $ctrl.displayAppl.mothersName}} </strong><br />
					<strong>{{ $ctrl.displayAppl.motherOccupation}} </strong>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<strong>{{$ctrl.displayAppl.brothersCount}} </strong> Brothers, <strong>
						{{$ctrl.displayAppl.sistersCount}} </strong> Sisters.
				</div>
				<div class="col-sm-6">
					<strong>{{$ctrl.displayAppl.siblingsInSchool}}</strong> siblings still in
					School.
				</div>
			</div>
		</div>

	</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading">Address</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<address>
					{{ $ctrl.displayAppl.addressLine1}}<br /> {{ $ctrl.displayAppl.addressLine2}}<br />
					{{ $ctrl.displayAppl.city + ', TN ' + $ctrl.displayAppl.pin}} <br /> 
					<abbr
						title="Phone">P:</abbr> {{$ctrl.displayAppl.phone1}} <br /> <a href="mailto:#">{{$ctrl.displayAppl.email}}</a>
				</address>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading">Bank Details</div>
	<div class="panel-body">
		<div class="col-sm-12 text-left">
				Account Holder Name: <strong>{{$ctrl.displayAppl.checkToName}} </strong> <br>
				Bank: <strong>{{$ctrl.displayAppl.bankName}} </strong> <br>
				Branch: <strong> {{$ctrl.displayAppl.branchName}} </strong> <br>
				Account Number: <strong>{{$ctrl.displayAppl.accountNumber}} </strong> <br>
				Branch IFSC Code: <strong>{{$ctrl.displayAppl.branchIfscCode}} </strong> <br>
				Bank Swift Code: <strong>{{$ctrl.displayAppl.bankSwiftCode}} </strong> <br>								
			
		</div>
	</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading">Reviewer Preference and Processing Comments</div>
	<div class="panel-body">
		<div class="col-sm-12 text-left">
				<strong>{{$ctrl.displayAppl.eduappProcessDetail.reviewerPrefComment}} </strong> <br>
				<strong>{{$ctrl.displayAppl.eduappProcessDetail.reviewerProcessingComment}} </strong> <br>			
		</div>
	</div>
</div>
