<div class="col-sm-10 text-left">
	<div data-ng-show="error">
		<br />
		<div class="alert alert-danger">
			<h5>Invalid current password. Password Change failed.</h5>
		</div>
	</div>

	<div data-ng-show="changePasswdSuccess">
		<br />
		<div class="alert alert-success">
			<h4>Password changed successfully.</h4>
			<h4>Please use your new password for your future logins.</h4>
		</div>
	</div>

	<div class="col-sm-4" data-ng-hide="changePasswdSuccess">

		<h3>Change Password</h3>

		<form role="form" class="" name="changePasswd">
			<div class="panel panel-success">
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label" for="currentPasswd">Enter
							Current Password</label> <input
							data-ng-model="changePasswd.currentPasswd" type="password"
							maxlength="20" class="form-control" id="currentPasswd"
							placeholder="Enter current Password" autofocus required>
					</div>
					<div class="form-group">
						<label class="control-label" for="newPasswd">Enter new
							Password</label> <input data-ng-model="changePasswd.newPasswd"
							type="password" maxlength="20" class="form-control"
							id="newPasswd" placeholder="Enter New Password" required>
					</div>
					<div class="form-group">
						<label class="control-label" for="reEnterNewPasswd">Re-enter
							New Password</label> <input data-ng-model="reEnterNewPasswd"
							type="password" maxlength="20" class="form-control"
							id="reEnterNewPasswd" placeholder="Re-enter New Password"
							data-custom-validation-error="reEnterNewPasswd != changePasswd.newPasswd ? 'Passwords don\'t match' : ''"
							required>
					</div>
					<button
						data-ng-click="changePasswd.$valid && confirmChangePasswd()"
						class="btn btn-primary" id="submitButton">Confirm</button>
				</div>
			</div>
		</form>
	</div>
</div>
