<div class="col-sm-10">
	<br />
	<div class="col-sm-10">
		<div class="panel panel-success">
			<div class="panel-body">
				<form role="form" class="form-inline" name="searchForm">

					<div class="form-group" data-ng-show="userRole=='admin'">
						<label class="control-label" for="searchAppYear">Application
							Year:</label> <input data-ng-model="searchAppYear" type="text" size="4"
							maxlength="4" class="form-control" name="searchAppYear"
							id="searchAppYear" placeholder="">
					</div>
					&nbsp;
					<div class="form-group" data-ng-show="userRole=='admin'">
						<label class="control-label" for="searchReviewer">Reviewer:</label>

						<input data-ng-model="searchReviewer" type="text" size="6"
							class="form-control" name="searchReviewer" id="searchReviewer"
							placeholder="">
					</div>
					&nbsp;

					<div class="form-group">
						<label class="control-label" for="searchNameIdEmail">Name,
							Email or StudentId:</label> <input data-ng-model="searchNameIdEmail"
							type="text" size="10" name="searchNameIdEmail"
							pattern=".{0}|.{6,}" title="Either 0 OR (6 chars minimum)"
							class="form-control" id="searchNameIdEmail" placeholder=""
							data-ng-required="userRole!='admin'">
						<!--pattern=".{0}|.{6,}"  title="Either 0 OR (6 chars minimum)" required  -->
					</div>
					&nbsp; &nbsp; &nbsp;
					<button data-ng-show="userRole=='admin'"
						data-ng-click="searchForm.$valid && searchApplication()"
						type="button" id="searchButton">Search</button>

					<button data-ng-show="userRole!='admin'"
						data-ng-click="searchForm.$valid && memberSearchApplication()"
						type="button" id="searchButton">Search</button>

				</form>

			</div>
		</div>
	</div>
	<div class="col-sm-2">
		<form class="form-inline">
			<div class="form-group">
				<label>Filter: </label> <input type="text" data-ng-model="search"
					size=10 class="form-control" placeholder="Search">
			</div>
		</form>
	</div>
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th data-ng-click="changeSorting('firstName')" style="width: 120px">Name
					<span class="glyphicon sort-icon"
					data-ng-show="sort.column=='firstName'"
					data-ng-class="{'glyphicon-chevron-up':sort.descending,'glyphicon-chevron-down':!sort.descending}"></span>
				</th>
				<th data-ng-click="changeSorting('studentId')" style="width: 90px">Student
					Id <span class="glyphicon sort-icon"
					data-ng-show="sort.column=='studentId'"
					data-ng-class="{'glyphicon-chevron-up':sort.descending,'glyphicon-chevron-down':!sort.descending}"></span>
				</th>
				<th data-ng-click="changeSorting('city')">City <span
					class="glyphicon sort-icon" data-ng-show="sort.column=='city'"
					data-ng-class="{'glyphicon-chevron-up':sort.descending,'glyphicon-chevron-down':!sort.descending}"></span>
				</th>
				<th data-ng-click="changeSorting('nativeVillage')">Native <span
					class="glyphicon sort-icon"
					data-ng-show="sort.column=='nativeVillage'"
					data-ng-class="{'glyphicon-chevron-up':sort.descending,'glyphicon-chevron-down':!sort.descending}"></span>
				</th>
				<th data-ng-click="changeSorting('eduappProcessDetail.reviewer')">Reviewer
					<span class="glyphicon sort-icon"
					data-ng-show="sort.column=='eduappProcessDetail.reviewer'"
					data-ng-class="{'glyphicon-chevron-up':sort.descending,'glyphicon-chevron-down':!sort.descending}"></span>
				</th>
				<th
					data-ng-click="changeSorting('eduappProcessDetail.processingStatus')">Status
					<span class="glyphicon sort-icon"
					data-ng-show="sort.column=='eduappProcessDetail.processingStatus'"
					data-ng-class="{'glyphicon-chevron-up':sort.descending,'glyphicon-chevron-down':!sort.descending}"></span>
				</th>
				<th data-ng-click="changeSorting('eduappProcessDetail.awardAmount')">Award
					<span class="glyphicon sort-icon"
					data-ng-show="sort.column=='eduappProcessDetail.awardAmount'"
					data-ng-class="{'glyphicon-chevron-up':sort.descending,'glyphicon-chevron-down':!sort.descending}"></span>
				</th>
				<th data-ng-click="changeSorting('eduappProcessDetail.rank')">Rank
					<span class="glyphicon sort-icon"
					data-ng-show="sort.column=='eduappProcessDetail.rank'"
					data-ng-class="{'glyphicon-chevron-up':sort.descending,'glyphicon-chevron-down':!sort.descending}"></span>
				</th>				
				<th data-ng-click="changeSorting('crTs')">Submission Date <span
					class="glyphicon sort-icon" data-ng-show="sort.column=='crTs'"
					data-ng-class="{'glyphicon-chevron-up':sort.descending,'glyphicon-chevron-down':!sort.descending}"></span>
				</th>
				<!-- 
				<th data-ng-show="userRole=='admin'"></th>
				 -->
			</tr>
		</thead>

		<tbody>
			<tr
				data-dir-paginate="appl in appls|orderBy:sort.column:sort.descending|filter:search|itemsPerPage:12">
				<td><a
					data-ui-sref="appProcessing.processApp({applId: + {{appl.id}} })">{{
						appl.firstName +' '+ appl.lastName}}</a></td>
				<td>{{ appl.studentId }}</td>
				<td>{{ appl.city }}</td>
				<td>{{appl.nativeVillage }}</td>
				<td>{{ appl.eduappProcessDetail.reviewer }}</td>
				<td>{{ appl.eduappProcessDetail.processingStatus }}</td>
				<td>{{ appl.eduappProcessDetail.awardAmount | currency }}</td>
				<td>{{ appl.eduappProcessDetail.rank }}</td>
				<td>{{ appl.crTs | date : 'MM/dd/yyyy' }}</td>
				<!-- 
				<td data-ng-show="userRole=='admin'">
					<button type="button" data-toggle="modal"
						data-target="{{'#myModal' + appl.id}}">...</button>
					<div class="modal fade" id="{{'myModal' + appl.id}}" role="dialog">
						<div class="modal-dialog modal-lg">
							
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<div class="col-sm-7">
										<h4 class="modal-title">
											<strong>{{ appl.firstName +' '+ appl.lastName + ' /
												' + appl.studentId | uppercase}} </strong>
										</h4>
										<p>{{appl.city + ' / ' + appl.nativeVillage}}</p>
										<p>
											Email: <strong> {{appl.email + ' '}} </strong> PH: <strong>
												{{appl.phone1}} </strong>
										</p>
									</div>

								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-sm-6">
											<application-display 
												display-appl = "appl">
											</application-display>											
										</div>
										<div class="col-sm-6">
											<div
												data-ng-include=" 'templates/committee/processingDataEditPanels.html' "></div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button
										data-ng-click="submitEduApplProcessDetail(appl.eduappProcessDetail)"
										class="btn">Save</button>
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</td>
			 -->				
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls max-size="7" direction-links="true"
		boundary-links="true"> </dir-pagination-controls>
</div>
