<style>
.mycheckbox {
	margin-top: 5px;
	margin-left: 5px;
}

.mycheckboxdiv {
	text-align: right;
}
</style>

<form role="form" class="" name="approverDataForm">
	<fieldset data-ng-disabled="userRole!='admin'">
		<div class="panel panel-success">
			<div class="panel-heading">Decision</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group mycheckboxdiv">
						<div class="col-sm-12">
							<label class="control-label" for="rejected">Rejected: <input
								type="checkbox" id="reviewComplete"
								class="pull-right mycheckbox"
								data-ng-model="appl.eduappProcessDetail.rejected"
								data-ng-true-value="'Y'" data-ng-false-value="'N'"
								name="rejected" >
							</label>
						</div>
					</div>
				</div>



				<div class="row">
					<div class="form-group">
						<div class="col-sm-5">
							<label class="control-label" for="rank">Rank:</label>

						</div>
						<div class="col-sm-7">
							<input data-ng-model="appl.eduappProcessDetail.rank"
								type="number" class="form-control" id="rank" >
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<div class="col-sm-5">
							<label class="control-label" for="awardAmount">Award
								Amount($):</label>
						</div>

						<div class="col-sm-7">
							<input data-ng-model="appl.eduappProcessDetail.awardAmount"
								type="number" min="0" max="10000" class="form-control"
								id="awardAmount" placeholder="" >
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<div class="col-sm-5">
							<label class="control-label" for="checkNumber">Award Ref:</label>
						</div>
						<div class="col-sm-7">
							<input data-ng-model="appl.eduappProcessDetail.checkNumber"
								type="text" maxlength="15" class="form-control"
								name="checkNumber" placeholder="" >
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<div class="col-sm-5">
							<label class="control-label" for="fundName">Fund Name:</label>
						</div>
						<div class="col-sm-7">
							<input data-ng-model="appl.eduappProcessDetail.fundName"
								type="text" maxlength="100" class="form-control" name="fundName"
								placeholder="" >
						</div>
					</div>
				</div>

			</div>
		</div>
	</fieldset>
</form>
