<div class="col-sm-8">
	<div class="row text-right hidden-print">
		<a name="Print" href=href= "#" onclick="window.print();return false;">Print
			<span class="glyphicon glyphicon-print"></span>
		</a>
	</div>
	<h3 class="text-left">Application Confirmation</h3>
	<p>&nbsp; &nbsp;&nbsp;</p>
	<p>
		<strong> {{scholarshipOriginationInfo.scholarshipOriginationLabel}} has successfully received your application for
			education scholarship. All applications will be reviewed and
			scholarship awards for candidates will be notified by {{eduappConfig.scholarshipAwardNotificationDate}}.
			&nbsp; </strong>
	</p>

	<p>
		<strong> Please note your StudentID and application
			confirmation Number. It is important for you to provide these for any
			future communication.&nbsp; </strong>
	</p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Student ID:</th>
				<th>Application Confirmation Nmbr:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ confirmationData.studentId }}</td>
				<td>{{ confirmationData.confirmationNmbr }}</td>
			</tr>
		</tbody>
	</table>
</div>



