
<!-- Sidebar -->
<!-- 
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li><a ui-sref="scholarshipApp.overview">Scholarship Overview</a>
		</li>
		<li><a ui-sref="scholarshipApp.instruction">Application
				Instructions</a></li>
		<li><a ui-sref="scholarshipApp.application">Apply for
				Scholarship</a></li>
		<li><a data-toggle="modal" href="#myModal" class="button">
				Check Status</a></li>
	</ul>
</div>
 -->
<!-- /#sidebar-wrapper -->


<br />

<!--  <p><a data-ui-sref="scholarshipApp.overview">Scholarship Overview</a></p> -->
<p>
	<a data-ui-sref="scholarshipApp.instruction">Application
		Instructions</a>
</p>
<p>
	<!-- <a ui-sref="scholarshipApp.application">Apply for Scholarship</a>  -->
	<a data-toggle="modal" href="#newEduAppModal" class="button">Apply
		for Scholarship</a>
</p>
<p>
	<a data-toggle="modal" href="#checkStatusModal" class="button">Check
		Status</a>
</p>
<!-- 
//need to cleanup code if no longer required.
<p>
	<img src="image/icon_new.gif" class="img-rounded" /> 
	<a data-toggle="modal" href="#updateApplicationModal" class="button">Update Application</a>
</p>
 -->
<h3 style="background-color: red">
	<strong>{{eduappConfig.environmentText}} </strong>
</h3>

<style>
	#checkStatusModal {
		top: 25%;
		right: 10%
	}

	 .modal-header, .close {
	     background-color: #5cb85c;
	     color:white !important;
	     text-align: center;
	     font-size: 30px;
	 }
	 .modal-footer {
	     background-color: #f9f9f9;
	 }
</style>

<!-- Check Status Modal -->
<div id="checkStatusModal" class="modal fade left" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header modal-header-success">
				<button type="button" class="close"  data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Check Application Status</h4>
			</div>
			<form role="form" class="" name="StatusCheckInputForm">
				<div class="modal-body">

					<div class="row">
						<div class="col-sm-12">
							<label class="radio-inline"> <input type="radio"
								data-ng-model="option" name="optradio" value="1" required>Confirmation
								Number
							</label> <label class="radio-inline"><input type="radio"
								data-ng-model="option" name="optradio" value="2" required>Student
								ID and DOB</label>
						</div>
					</div>
					<br>
					<div data-ng-show="option == 2" class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" for="studentId">Student ID:</label>
								<input data-ng-model="studentId" type="text" maxlength="10"
									class="form-control" id="studentId" placeholder="Student ID"
									data-ng-required="option == 2">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">

								<label class="control-label" for="DOB">Date of Birth:</label>
								<!--
								<input
									data-ng-model="birthDate" type="date" class="form-control"
									id="DOB" placeholder="" data-ng-required="option == 2">
							 -->
								<div class="input-group date" data-provide="datepicker"
									data-date-format="dd/mm/yyyy">
									<input data-ng-model="birthDate" type="text"
										class="form-control" id="DOB" placeholder="dd/mm/yyyy"
										data-ng-required="option == 2"><span
										class="input-group-addon"><i
										class="glyphicon glyphicon-th"></i></span>
								</div>
							</div>
						</div>
					</div>

					<div data-ng-show="option == 1" class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" for="confirmationNmbr">Confirmation
									Number:</label> <input data-ng-model="confirmationNmbr" type="text"
									maxlength="20" class="form-control" id="confirmationNmbr"
									placeholder="Confirmation Number"
									data-ng-required="option == 1">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!--<a class="btn btn-default"
					ui-sref="scholarshipApp.status({confirmationNmbr: confirmationNmbr, studentId: studentId, birthDate: birthDate })"
					data-dismiss="modal">Check Status</a> -->
					<button type="button"
						data-ui-sref="scholarshipApp.status({confirmationNmbr: confirmationNmbr, studentId: studentId, birthDate: birthDate })"
						class="btn btn-success"
						data-ng-disabled="StatusCheckInputForm.$invalid"
						data-dismiss="modal">Check Status</button>
				</div>

			</form>
		</div>

	</div>
</div>


<!-- New Education Application Modal -->
<style>
#newEduAppModal {
	top: 25%;
	right: 10%
}
</style>
<div id="newEduAppModal" class="modal fade left" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header modal-header-success">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title">Apply for Scholarship</h3>
				<h4 data-ng_show="eduappConfig.eduappWindow">All returning
					student should provide your NSNA StudentID. Failing to provide your
					StudentID may result in delay of your application processing.</h4>
				<h4 data-ng_show="!eduappConfig.eduappWindow">
					{{eduappConfig.appWindowClosedMessage}}</h4>
			</div>
			<form role="form" class="" name="NewAppInputForm"
				data-ng_show="eduappConfig.eduappWindow">
				<div class="modal-body">

					<div class="row">
						<div class="col-sm-12">
							Have you applied for scholarship with NSNA before / Do you have a
							NSNA-StudentID? <label class="radio-inline"> <input
								type="radio" data-ng-model="oldStudent" name="oldStudentradio"
								value="1" required>Yes
							</label> <label class="radio-inline"><input type="radio"
								data-ng-model="oldStudent" name="oldStudentradio" value="2"
								required>No</label>
						</div>
					</div>
					<div data-ng-show="oldStudent == 1">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" for="studentId">Student
										ID:</label> <input data-ng-model="studentId2" type="text"
										maxlength="10" class="form-control" id="studentId"
										placeholder="####-#####"
										data-ng-required="oldStudent == 1">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" for="DOB">Date of Birth:</label>

									<div class="input-group date" data-provide="datepicker"
										data-date-format="dd/mm/yyyy">
										<input data-ng-model="birthDate2" type="text"
											class="form-control" id="DOB" placeholder="dd/mm/yyyy"
											data-ng-required="oldStudent == 1"><span
											class="input-group-addon"><i
											class="glyphicon glyphicon-th"></i></span>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
							Forgot your Student-ID? Send an email to <strong>nsna.edu@achi.org</strong> with your Name, Date of birth, Degree and College year when you last received scholarship from NSNA.
							</div>
							
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<!-- <a class="btn btn-default" data-dismiss="modal"
						data-ng-click="NewAppInputForm.$valid"
						ui-sref="scholarshipApp.application({oldStudent: oldStudent, studentId: studentId2, birthDate: birthDate2 })">Continue</a>
						-->
				<div class="col-sm-6">
					<button type="button"
							class="btn btn-warning pull-left"
							data-dismiss="modal"
						 >Close </button>
				</div>
				<div class="col-sm-6">		 
					<button type="button"
						data-ui-sref="scholarshipApp.application({oldStudent: oldStudent, studentId: studentId2, birthDate: birthDate2})"
						class="btn btn-success pull-right"
						data-ng-disabled="NewAppInputForm.$invalid" data-dismiss="modal">Continue</button>
						</div>
				</div>
			</form>

		</div>
	</div>
</div>

<!-- Update Application-SwiftCode Modal -->
<div id="updateApplicationModal" class="modal fade left" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header modal-header-success">
				<button type="button" class="close" data-ng-click="backToStep1()" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"> Update Application: Add Bank Swift Code</h4>
			</div>
			<form role="form" class="" name="updateSwiftCodeForm">
				<div data-ng-init="screen=1"> </div>
				<div data-ng-show="screen == 1">			
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<label class="radio-inline"> <input type="radio"
									data-ng-model="option" name="optradio" value="1" required>Confirmation
									Number
								</label> <label class="radio-inline"><input type="radio"
									data-ng-model="option" name="optradio" value="2" required>Student
									ID and DOB</label>
							</div>
						</div>
						<br>
						<div data-ng-show="option == 2" class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" for="studentId">Student ID:</label>
									<input data-ng-model="studentId" type="text" maxlength="10"
										class="form-control" id="studentId" placeholder="Student ID"
										data-ng-required="option == 2">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
	
									<label class="control-label" for="DOB">Date of Birth:</label>
									<div class="input-group date" data-provide="datepicker"
										data-date-format="dd/mm/yyyy">
										<input data-ng-model="birthDate" type="text"
											class="form-control" id="DOB" placeholder="dd/mm/yyyy"
											data-ng-required="option == 2"><span
											class="input-group-addon"><i
											class="glyphicon glyphicon-th"></i></span>
									</div>
								</div>
							</div>
						</div>
	
						<div data-ng-show="option == 1" class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" for="confirmationNmbr">Confirmation
										Number:</label> <input data-ng-model="confirmationNmbr" type="text"
										maxlength="20" class="form-control" id="confirmationNmbr"
										placeholder="Confirmation Number"
										data-ng-required="option == 1">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"
							data-ng-click="updateSwiftCodeStep1()"
							class="btn btn-success"
							data-ng-disabled="updateSwiftCodeForm.$invalid"> Next >></button>
					</div>
				</div>

				<div data-ng-show="screen == 2">			
					<div class="modal-body">
						<div class="row" data-ng-show="step2Data.recordFound == 0">
							<div class="col-sm-12">
							{{step2Data.statusMsg}}
							</div>
						</div>
						<br>
						<div data-ng-show="step2Data.recordFound != 0">
							<div class="row" >
								<div class="col-sm-12">
								Hello <strong>{{step2Data.applicantName}}</strong>, 
									<div data-ng-show="step2Data.recordFound == 1"> Please enter the Swift Code for your Bank branch:</div>
									<div data-ng-show="step2Data.recordFound == 2"> Your Bank details with Swift Code is already in file. For any corrections please email nsnaedu@achi.org immediately.</div>
								</div>
							</div>

							<div class="row">
								<!--  <div class="col-sm-3">Bank Name:</div> -->
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label" >Bank Name:</label> <input
									data-ng-model="step2Data.bankName" type="text" 
									class="form-control" data-ng-disabled="true">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label" >Branch Name:</label> <input
									data-ng-model="step2Data.branchName" type="text" 
									class="form-control" data-ng-disabled="true">
									</div>
								</div>
								
							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label" for="SwiftCode">Swift Code: </label>
										 <input data-ng-model="step2Data.swiftCode" type="text"
											maxlength="11" class="form-control" id="swiftCode"
											placeholder="Bank Swift Code" 
											data-ng-disabled="step2Data.recordFound == 2"
											data-ng-required="screen == 2">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label  for="reEnterBankSwiftCode">Re-enter Swift Code: </label>
										<input data-ng-model="reEnterBankSwiftCode" type="text"
											maxlength="11" minlength="8" class="form-control" id="reEnterBankSwiftCode"
											placeholder="" 
											data-ng-disabled="step2Data.recordFound == 2"
											data-ng-required="screen == 2"
											data-custom-validation-error="screen == 2 && reEnterBankSwiftCode != step2Data.swiftCode ? 'Bank Swift Code entered don\'t match' : ''">
									</div>
								</div>
							</div>
							<div class="alert alert-danger" data-ng-show="pageErrMsg">{{pageErrMsg}}</div>							
						</div>		
					</div>
					<div class="modal-footer">
						<button type="button"
							data-ng-click="backToStep1()"
							class="btn btn-danger pull-left"
							data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span>Close </button>		
												
						<button type="button"
							data-ng-click="backToStep1()"
							class="btn btn-warning"
							>Back << </button>
												
						<button type="button"
							data-ng-click="updateSwiftCodeStep2()"
							class="btn btn-success"
							data-ng-disabled="updateSwiftCodeForm.$invalid || step2Data.recordFound == 2"
							>Save SWIFT Code</button>
					
					</div>
				</div>

				<div data-ng-show="screen == 3">			
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
							<br>
							SWIFT Code successfully updated.
							<br>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"
							data-ng-click="backToStep1()"
							class="btn btn-success"
							data-dismiss="modal">Close </button>
					</div>
				</div>
									
				
			</form>
		</div>

	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){
    $('#reEnterBankSwiftCode').bind("cut copy paste",function(e) {
        e.preventDefault();
    });	
	$('#DOB .input-group.date').datepicker({});
});
</script>


